<!doctype html>
<html ng-app="app">
  <head>
    <title>Socket.IO chat</title>
    <style>
      * { margin: 0; padding: 0; box-sizing: border-box; }
      body { font: 13px Helvetica, Arial; }
      form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
      form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
      form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
      #messages { list-style-type: none; margin: 0; padding: 0; }
      #messages li { padding: 5px 10px; }
      #messages li:nth-child(odd) { background: #eee; }
    </style>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="js/socket.js"></script>
    <script src="js/app.js"></script>
  </head>
  <body ng-controller="IndexController">
    <ul id="messages"></ul>
    <div ng-repeat="item in items">
       {{ item }}<br>
    </div>
    <form >
      <input id="m" ng-model="newItem" autocomplete="off" /><button ng-click="add(newItem)">Send</button>
    </form>
  </body>
</html>